body {
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #3a4904;
  padding: 20px;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background:rgb(212, 49, 0);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #000808;
}
